$primary-color: #325D88 !default;

.navbar-brand > img {
  height: 1.5em;
}

nav.navbar.clone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1800;
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down nav.navbar.clone {
  transform: translateY(0);
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 1em;
  margin-bottom: 1em;
}

wordstats-summary {
  display: block;
  text-align: center;
}

wordstats-p {
  margin-bottom: 1em;
}

textarea {
  border: 2px solid $primary-color;
  border-radius: .5em;
  width: 80%;
  outline: 0;
}

#toast {
 display: none;
 margin-bottom: 4em;
}

#info-technologies {
  img {
    max-height: 10em;
  }
}

#userProfile {
  img {
    max-height: 10em;
  }
}

.sticky-navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
