<h3>Author</h3>
<p>Daniel Hernández Alcojor (dhalcojor@gmail.com)</p>

<h3>Technologies and frameworks</h3>
<div id="info-technologies" class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <img class="card-img-top" src="../../images/vendors/bitbucket.png" alt="bitbucket">
    </div>
    <div class="card-block">
      <h4 class="card-title">Open source</h4>
      <p class="card-text">I wanted this project to be part of my portfolio, as well as to provide me with an
        interesting utility to help writing fiction. That's why this is an open source application.</p>
      <a class="btn btn-primary" href="https://bitbucket.org/danielhalcojor/wordstats" target="_blank">
        Check the source code
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-center">
      <img class="card-img-top" src="../../images/vendors/angular-logo.svg" alt="bitbucket">
    </div>
    <div class="card-block">
      <h4 class="card-title">Angular 4</h4>
      <p class="card-text">The main framework for the front-end.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-center">
      <img class="card-img-top" src="../../images/vendors/bootstrap-4.svg" alt="bootstrap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Bootstrap 4</h4>
      <p class="card-text">I wanted something simple for the styling. In the future I want to use Polymer.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-center">
      <img class="card-img-top" src="../../images/vendors/heroku.png" alt="heroku">
    </div>
    <div class="card-block">
      <h4 class="card-title">Heroku</h4>
      <p class="card-text">I use heroku to deploy my app in a matter of seconds with a <code>git push</code> command.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-center">
      <img class="card-img-top" src="../../images/vendors/firebase.png" alt="firebase">
    </div>
    <div class="card-block">
      <h4 class="card-title">Firebase</h4>
      <p class="card-text">I want to use the authentication and database.</p>
    </div>
    <div class="card-footer">
      <small>Coming soon</small>
    </div>
  </div>
</div>
