<div id="userProfile" class="col-md-offset-3 col-md-6" *ngIf="user">
  <div class="card col-md-12 d-inline-block p-4">
    <div class="col-md-3">
      <img [src]="user.photoURL" alt="user photo">
    </div>
    <div class="card-block col-md-6">
      <h4 class="card-title">{{user.displayName}}</h4>
      <p class="card-text">{{user.email}}</p>
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>

<div class="alert alert-info text-center col-md-offset-2 col-md-8" *ngIf="!user">
  You haven't signed in yet
</div>

<div id="firebaseui-auth-container" [hidden]="user"></div>
