<wordstats-summary class="col-md-offset-1 col-md-10" [totals]="totals"></wordstats-summary>

<wordstats-p class="col-md-12"
             *ngFor="let paragraph of paragraphs; index as i" [paragraph]="paragraph" [index]="i"
             (onChanged)="onChanged($event)"></wordstats-p>
<hr class="col-md-offset-2 col-md-8">
<div class="col-md-12 text-center">
  <button class="btn btn-primary" (click)="addParagraph()">Add paragraph</button>
</div>
