<div id="paragraph-{{index}}">
  <textarea class="col-md-8 wordstats-paragraph form-control" rows="5" placeholder="Your text here"
            [(ngModel)]="paragraph.text" (keyup)="updateParagraph()"></textarea>
  <div class="col-md-4">
    <table class="table">
      <tbody>
      <tr>
        <td>Sentences:</td>
        <td>
          <span class="badge badge-default">{{paragraph.sentences.length}}</span>
          (
          <span class="badge badge-default" title="Min sentence"
                data-toggle="tooltip" data-placement="top">{{paragraph.minSentence}}</span>,
          <span class="badge badge-default" title="Average sentence"
                data-toggle="tooltip" data-placement="top">{{paragraph.averageSentence}}</span>,
          <span class="badge badge-default" title="Max sentence"
                data-toggle="tooltip" data-placement="top">{{paragraph.maxSentence}}</span>
          )
        </td>
      </tr>
      <tr>
        <td>Words:</td>
        <td><span class="badge badge-default">{{paragraph.numWords}}</span></td>
      </tr>
      <tr>
        <td>Chars:</td>
        <td><span class="badge badge-default">{{paragraph.numChars}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
