<nav class="navbar navbar-toggleable-md navbar-default bg-faded">
  <a class="navbar-brand" href="/">
    <img src="images/wordstats-icon.png" class="d-inline-block align-text-bottom">
    WordStats
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/main">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/info">Info</a>
      </li>
    </ul>

    <ul class="navbar-toggler-right">
      <li class="nav-item mt-2" routerLinkActive="active">
        <a class="btn btn-primary" routerLink="/login">Account</a>
      </li>
    </ul>
  </div>
</nav>

<main class="col-md-offset-1 col-md-10">
  <router-outlet></router-outlet>
</main>

<div id="toast" class="alert fixed-bottom w-75 mx-auto text-center"></div>
